* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.outer {
  height: 100%;
  width: 100%;
  background-color: black;
}

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 38px;
  align-items: center;
  background-color: #161617ee; 
}

.nav i {
  color: white;
}

.nav a {
  color: rgb(196, 196, 196);
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.bundle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  font-size: 1.6rem;

  flex-direction: column;
}

.hero-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 50px;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.color-white {
  color: white;
}

.bundle div {
  padding: 13px 0px 19px 0px;
}

.para-outer {
  text-align: center;
}

.btn-outer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  padding: 16px 23px;
  border: none;
  background-color: #0077ed;
  border-radius: 1.5rem;
  font-size: 17px;
  color: white;
}

.buy-btn {
  background-color: transparent;
  border: 1px solid #0077ed;
  border-radius: 1.6rem;
  color: #0077ed;
}

.iphone-image-wrapper {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  height: 90%;
  width: 100%;
  position: absolute;
  top: 5rem;
  z-index: -1;
  background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-origin: content-box;
}


/*Section-2 Started*/


.section {
  height: 600px;
  width: 100%;
  padding: 3rem;
  background-color: #F5F5F7;
  margin: 0.8rem 0 0 0;
}
.section-2 {
background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg");
  background-size: cover;
  background-position: center;
}

.section-3 {
  background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_medium.jpg");
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.two-cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  hanging-punctuation: 1rem;
  padding: 0 0.8rem;
  gap: 1rem;
}
.two-cards-wrapper div div h1 {
  font-size: 1.8rem;
}

.two-cards-wrapper div div p {
  font-size: 1.4rem;
}

.section-4 {
   background-image: url("https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg");
  background-size: 135% 135%;
  background-position: bottom;
}

.section-5 {
   background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium.jpg);
  background-size:110% 110%;
  background-position: center;
}

.section-6 {
   background-image: url(https://www.apple.com/v/home/ch/images/promos/macbook-air/promo_macbook_air__fqowrtnxewqe_medium.jpg);
  background-size:110% 110%;
  background-position: center;
}

.section-7 {
   background-image: url(https://www.apple.com/v/home/ch/images/promos/ipad-air/promo_ipad_air_avail__6i02t7nujr62_medium.jpg);
  background-size:110% 110%;
  background-position: center;
}

.section-8 {
   background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium.jpg);
  background-size:110% 110%;
  background-position: center;
}
.section-9 {
   background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-card/promo_apple_card__5cm7draujpey_medium.jpg);
  background-size:110% 110%;
  background-position: center;
}

